<div>
	<h1 class="cText">Welcome to Stock Market Simulator 2017</h1>
	<div style="max-width: 80%; margin: 0 auto">
		
		<!-- Div for showing all company details -->
		<div>#parse($table)</div>

		<!-- stock market news -->
		<div>#parse($news)</div>

		<!-- login and register -->
		<div style="display: inline-block;">
		</div>
	</div>

</div>