<!DOCTYPE html>
<html>
	<head>
		<title>Stock Market Simulator</title>
		<link rel="stylesheet" href="../style/layout.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>
	<!-- navbar -->
		<ul>
			<li><a href="/register">Sign up</a></li>
			<li><a href="/login">Login</a></li>
			
			<li  style="float:left; font-weight:bold"><a href="/">Stock Market Simulator</a></li>
		</ul>

		<!--begin inner template -->
		<div class="center">
			#parse($template)
		</div>
		<!--end inner template -->

	</body>
</html>