/* formating for table */
.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	margin: 0 auto;
}

.datagrid {
	width: 90%;
	margin: auto;
	font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #B8B8B8;
}

.datagrid table td, .datagrid table th {
	padding: 7px 15px;
}

.datagrid table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5C5C5C
		), color-stop(1, #5C5C5C));
	background: -moz-linear-gradient(center top, #5C5C5C 5%, #5C5C5C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C',
		endColorstr='#5C5C5C');
	background-color: #5C5C5C;
	color: #F2F2F2;
	font-size: 15px;
	font-weight: bold;
	border-left: 2px solid #B8B8B8;
}

.datagrid table thead th:first-child {
	border: auto;
}

.datagrid table tbody td {
	color: #000000;
	border-left: 1px solid #C7C7C7;
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #c7c7c7;
}

.datagrid table tbody .alt td {
	background: #DEDEDE;
	color: #000000;
}

.datagrid table tbody td:first-child {
	border-left: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

/*styling for pagination*/
div#DataTables_Table_0_filter {
	padding: 10px;
}
#DataTables_Table_0_filter label{
	font-weight: bold;
	font-size: medium;
}
#DataTables_Table_0_filter input{
	height: 30px;
	border: 1px solid #ccc;
    border-radius: 4px;
}
#DataTables_Table_0_filter input:focus{
	background-color: #d7f0fd;
}

div#DataTables_Table_0_length {
	padding: 25px 2px 2px 2px;
}

/*styling for scroll*/
div.dataTables_scrollHeadInner{
	margin: auto;
}
dic.dataTbles_scroll{
	width: 100%;
}