<h1>This is the Player page</h1>
<div>
<h2>Player name</h2>
<p>Player details</p>
<br>
<input id="editDetails" type="submit" value="Edit details">
</div>
<p><a href='/'>Back to Home page</a></p.