<h1>This is the Player page</h1>
<div>
<h2>$firstname</h2>
<p>Player details</p>
<p>Username: $username</p>
<p>First Name: $firstname</p>
<p>Last Name: $lastname</p>
<p>Age: $age</p>
<br>
<a class="btnBlue" href="/EditProfile" id="editDetails">Edit details</a>
</div>
<p><a class="btnBlue"href='/'>Back to Home page</a></p.