body {
	margin: 0;
	background-color: #81d4fa;
}

/*setting font */
* {
	font-family: "Verdana";
}

/*The Navigation bar */
.navbar {
	overflow: hidden;
	background-color: #039be5;
	position: fixed;
	top: 0;
	width: 100%;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar #title {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold; 
}

/* Main content */
.main {
    margin-top: 80px; /* Add a top margin to avoid content overlay */
	margin-left:	auto;
	margin-right:	auto;
}

/*Center container*/
.center {
	display: block;
	margin: 0 auto;
}

/*center text */
.cText {
	text-align: center;
}