<!-- temp graph table -->
<!--if possible this will display the data of users first shares
	and change by asx code -->
<script src="../Scripts/jquery.min.js"></script>
<script src="../../code/highstock.js"></script>
<script src="../../code/modules/exporting.js"></script>
<script src="../Scripts/createChart.js"></script>
<div id="container" style="height: 400px; min-width: 310px"></div>